span{
  margin:1rem ; 
  color: #0100be;
}

span:hover{
    cursor: pointer;
    color: #0195ff;
}

.menu{
    margin-left: auto;

    button{
        margin-right: 1rem;
        text-decoration: none;
        color: #0100be;
        border-radius: 40%;
    }

    button:hover, button:active{
        background-color: #bbbbbb;
    }
}

::ng-deep .menu-items{
    background: #eeeeee;
}

::ng-deep .menu-items .mat-menu-item{
    color: #0100be;
}

::ng-deep .menu-items .mat-menu-item:hover{
    background-color: #bbbbbb;
}

.sacchon-image{
    height:95%;
    width:auto;
    border-radius: 50%;
    padding: 0.5%;
}

.app-header{
    display: flex;
    overflow: hidden;
    padding: 10px 10px;
    max-height: 101px;
    background-color: #eeeeee;
    box-shadow: #2b262d 0px 0px 10px 0px;
}
