span{
  margin:1rem ; 
}

.menu{
    margin-left: auto;
 }
 
.button{
    margin-right: 1rem;
    text-decoration: none;
    color: white;
}
.button:hover, .button:active{
    color: lightgray;
}

.sacchon-image{
    height:95%;
    width:auto;
    border-radius: 50%;
    padding: 0.2%;
}

div.images{
    text-align: center;
    width:100% ;
    height:100%;
}

a {
    text-decoration: none;
    color: white;
}
a:hover, a:active{
    color: lightgray;
}

.app-header{
    display: flex;
}
