span{
  margin:1rem ; 
}

.menu{
    margin-left: auto;

    button{
        margin-right: 1rem;
        text-decoration: none;
        color: white;
        border-radius: 50%;
    }

    button:hover, button:active{
        background-color: #2b262d;
    }
 }

.sacchon-image{
    height:95%;
    width:auto;
    border-radius: 50%;
    padding: 0.2%;
    border: 0.2rem solid white;
}

.app-header{
    display: flex;
    overflow: hidden;
    padding: 10px 10px;
    max-height: 101px;
    background-color: #3648ab;
}
