<h1>Welcome back to you MediData Vault!</h1>

<h2>Start by submitting your measurements or see your existing doctor consultations and stored data.</h2>

<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile routerLink="/bgl-store">
        Submit your blood glucose level measurement
    </mat-grid-tile>
    <mat-grid-tile routerLink="/dci-store">
        Submit your daily carbonates intake
    </mat-grid-tile>
    <mat-grid-tile routerLink="/profile">
        View your doctor consultations and stored measurements
    </mat-grid-tile>
  </mat-grid-list>
  
