<div class="form-container">
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <h2>Enter your blood glucose level.</h2>
    <mat-form-field appearance="outline">
      <input matInput type="datetime-local" placeholder="start date" formControlName="datetime">
      <mat-error *ngIf="createForm.get('datetime')?.hasError('required')">This field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>blood glucose in mg/dL</mat-label>
      <input matInput formControlName="bgl" type="number">
      <mat-error *ngIf="createForm.get('bgl')?.hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="createForm.get('bgl')?.hasError('min') || createForm.get('bgl')?.hasError('max')">Please enter a number between 0 and 1000</mat-error>
    </mat-form-field>
    <button mat-stroked-button type="submit" [disabled]="!createForm.valid">Submit <mat-icon>chevron_right</mat-icon></button>
    <button mat-stroked-button type="button" routerLink="/" routerLinkActive>Cancel <mat-icon>cancel</mat-icon></button>
    <h4 *ngIf="submitted">Thank you. Your data has been submitted.</h4>
    <button *ngIf="submitted" mat-stroked-button type="button" routerLink="/landing-page" routerLinkActive>Home <mat-icon>home</mat-icon></button>
  </form>
</div>