<div class="form-container">
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <h2>Enter your blood glucose level.</h2>
    <mat-form-field appearance="outline">
      <input matInput type="datetime-local" placeholder="start date" formControlName="datetime">
      <mat-error *ngIf="createForm.get('datetime')?.hasError('required')">This field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>blood glucose in mg/dL</mat-label>
      <input matInput formControlName="bgl" type="number">
      <mat-error *ngIf="createForm.get('bgl')?.hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="createForm.get('bgl')?.hasError('min') || createForm.get('bgl')?.hasError('max')">Please enter a number between 0 and 1000</mat-error>
    </mat-form-field>
    <button mat-stroked-button type="submit" [disabled]="!createForm.valid">Submit <mat-icon>chevron_right</mat-icon></button>
    <button mat-stroked-button type="button" routerLink="/" routerLinkActive>Cancel <mat-icon>cancel</mat-icon></button>
    <h4 *ngIf="submitted">Thank you. Your data has been submitted.</h4>
    <button *ngIf="submitted" mat-stroked-button type="button" routerLink="/landing-page" routerLinkActive>Home <mat-icon>home</mat-icon></button>
  </form>
</div>




<!-- <section fxLayout="row wrap" fxLayoutAlign="center center">
  <form [formGroup]="createForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card-content>
    <mat-form-field>
      <input matInput type="text" placeholder="Owner's name" formControlName="name" id="name"> -->
      <!-- <mat-hint align="end">Not more then 60 characters long.</mat-hint> -->
      <!-- <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
      <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>
    </mat-form-field>
    <mat-form-field> -->
      <!-- <input matInput [matDatepicker]="picker" placeholder="Choose a date of birth" formControlName="dateOfBirth" id="dateOfBirth" 
          readonly (click)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker> -->
    <!-- </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Owner's address" formControlName="job"> -->
      <!-- <mat-hint align="end">Not more then 100 characters long.</mat-hint> -->
      <!-- <mat-error *ngIf="hasError('address', 'required')">Address is required</mat-error>
      <mat-error *ngIf="hasError('address', 'maxlength')">You have more than 100 characters</mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="!createForm.valid">Create</button>
    <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</form>
</section> -->





<!-- <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input placeholder="Enter a name"  
                formControlName='name' 
                [class.is-invalid]="createForm.get('name') &&
                createForm.get('name')?.touched">  
         <mat-error *ngIf="name?.hasError('required') && name?.touched">Name is required</mat-error> 
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Job</mat-label>
        <input placeholder="Enter a job" 
                placeholder="Enter a job" 
                formControlName='job'
                [class.is-invalid]="createForm.get('job') &&
                createForm.get('job')?.touched">
        <mat-error *ngIf="createForm.get('job')?.hasError('required') && createForm.get('job')?.touched">Job is required</mat-error>
        <mat-error *ngIf="job?.hasError('minlength') && job?.touched">Job must have 3 letters</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <button mat-button [disabled]="createForm.invalid" class="btn btn-primary mt-3" type="submit">Create a User</button>
    </mat-form-field>
</form> -->

    <!-- <mat-form-field
    appearance="fill"
    *ngFor="let form of formFillFields; let i = index"
  >
    <mat-label> {{ form }}</mat-label>

    <input
      matInput
      *ngIf="i != 2"
      [ngxMatDatetimePicker]="picker"
      type="text"
      [class.is-invalid]="
        createForm.get(form) &&
        createForm.get(form)?.touched
      "
      [formControlName]="form"
      required
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="$any(picker)"
    ></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>

    <input
      *ngIf="i == 2"
      [class.is-invalid]="
        createForm.get(form) &&
        createForm.get(form)?.touched
      "
      matInput
      type="number"
      step="100"
      [formControlName]="form"
      required
    />

    <mat-error>{{ form }} is required</mat-error>
    <mat-hint *ngIf="i == 0">
      First sample at: {{ this.starthint }}
    </mat-hint>
    <mat-hint *ngIf="i == 1">Last sample at: {{ this.stophint }} </mat-hint>
    <mat-hint *ngIf="i == 2">e.g 500</mat-hint>
  </mat-form-field> -->
